[submodule "webrtc-audio-processing-sys/webrtc-audio-processing"]
	path = webrtc-audio-processing-sys/webrtc-audio-processing
	url = https://github.com/tonarino/pulseaudio-webrtc-audio-processing.git
