[submodule "webrtc-audio-processing-sys/webrtc-audio-processing"]
	path = webrtc-audio-processing-sys/webrtc-audio-processing
	url = https://gitlab.freedesktop.org/pulseaudio/webrtc-audio-processing.git
[submodule "webrtc-audio-processing-sys/abseil-cpp"]
	path = webrtc-audio-processing-sys/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
