[package]
name = "webrtc-audio-processing-sys"
version = "0.1.0"
authors = ["Ryo Kawaguchi <ryo@kawagu.ch>"]
edition = "2018"

[build-dependencies]
bindgen = "0"
cc = "1.0.38"
failure = "0.1"
regex = "1"

[dependencies]
serde = { version = "1", features = ["derive"] }
